* {
    margin: 0px;
    padding: 0px;
}

a {
    font-family: "Outfit" , sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.header {
    width: 1920px;
    height: 705px;
    background-color: #5E8173;
}

.header_1 {
    width: 937px;
    padding-top: 75px;
    padding-left: 250px;
}

.restangle_1 {
    background-color: #2EA68A;
    border-radius: 30px;
    width: 937px;
    height: 99px;
}

li {
    float: left;
    list-style: none;
}

.htext_1 {
    padding: 27px 80px 0px 70px;
}

.animation_text_1 {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 0.5s;
}

.animation_text_1:hover {
    background-size: 100% 2px;
}

.htext_2 {
    padding: 27px 80px 0px 0px;
}

.animation_text_2 {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 0.5s;
}

.animation_text_2:hover {
    background-size: 100% 2px;
}
.htext_3 {
    padding: 27px 0px 0px 0px;
}

.animation_text_3 {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 0.5s;
}

.animation_text_3:hover {
    background-size: 100% 2px;
}
/* 2 часть header */

.header_2 {
    padding-left: 58px;
    padding-bottom: 7px;
}

.restangle_2 {
    background-color: #2EA68A;
    width: 419px;
    height: 99px;
    border-radius: 30px;
}
.search {
    padding: 12px 0px 0px 10px;
    width: 290px;
    transform: translateY(-99px);
}

.find {
    padding: 0px 0px 0px 70px;
    background-image: url(img/Group\ 20.png);
    width: 285px;
    height: 75px;
    border-radius: 30px;
    font-size: 36px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    border: none;
    color: white;
}

.profile {
    width: 100px;
    height: 99px;
    padding: 0px 0px 0px 320px;
}

/* Анимация новостей */

.mySlides {display: none;}


/* Блок слайдшоу */
.slideshow-container {
  width: 1420px;
  height: 450px;
  position: relative;
  margin: auto;
  padding:30px 0px 0px 0px;
}

.slide_img1 {
    border-radius: 30px;
}

.slide_img2 {
    border-radius: 30px;
}

.slide_img3 {
    border-radius: 30px;
}

/* The dots/bullets/indicators */

.Three_dots {
    width: 1420px;
    text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2EA68A;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #999999;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* Блок с фильмами */

.container {
    width: 1920px;
    height: 3185px;
    background-color: #5E8173;
}

.Films {
    padding: 30px 250px 0px 250px;
}

.cont_text {
    width: 270px;
    font-size: 36px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
}

.film {
    padding-top: 18px;
}

.img_background_greenbook {
    width: 250px;
    height: 375px;
    background-image: url(img/greenbook.png);
}

.restangle_cont {
    width: 250px;
    height: 45px;
    background-color: #156653;
    border-radius: 30px;
}

.restangle_cont2 {
    width: 242px;
    height: 45px;
    background-color: #2B2D2A;
    border-radius: 30px;
}

.cont2_text {
    font-size: 20px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
    padding-left: 77px;
    transform: translateY(9px);
}

.reating_restangle {
    width: 70px;
    height: 45px;
    border-radius: 30px;
    background-color: #20E800;
    font-size: 32px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    transform: translateY(-25px);
    color: white;
    text-align: center;
}

.reating_text {
    padding-top: 2px;
}

.position {
    padding-top: 330px;
}

.img_background_1plus1 {
    width: 250px;
    height: 375px;
    background-image: url(img/1+1.png);
}

.film_number_1 {
    transition: 0.5s;
}

.film_number_1:hover {
    transform: scale(1.03);
}

.film_number_2 {
    padding: 0px 40px 0px  40px;
    transition: 0.5s;
}

.film_number_2:hover {
    transform: scale(1.03);
  }

.img_background_social_network {
    width: 250px;
    height: 375px;
    background-image: url(img/sokial_network.png);
}

.film_number_3 {
    transition: 0.5s;
}

.film_number_3:hover {
    transform: scale(1.03);
}

.img_background_spider_man {
    width: 250px;
    height: 375px; 
    background-image: url(img/Spider\ man.png); 
}

.film_number_4 {
    padding: 0px 40px 0px 40px;
    transition: 0.5s;
}

.film_number_4:hover {
    transform: scale(1.03);
}
.img_background_enco_world {
    width: 250px;
    height: 375px;
    background-image: url(img/World\ Enco.png);
}

.film_number_5 {
    transition: 0.5s;
}

.film_number_5:hover {
    transform: scale(1.03);
}

.film_table2 {
    padding-top: 42px;
}

.img_background_forsazh {
    width: 250px;
    height: 375px;
    background-image: url(img/Furious.png);
}

.film_number_6 {
    transition: 0.5s;
}

.film_number_6:hover {
    transform: scale(1.03);
}

.img_background_interstellar {
    width: 250px;
    height: 375px;
    background-image: url(img/interstellar.png);
}

.film_number_7 {
    transition: 0.5s;
    padding: 0px 40px 0px 40px;
}

.film_number_7:hover {
    transform: scale(1.03);
}

.img_background_dzhentelmen {
    width: 250px;
    height: 375px;
    background-image: url(img/Dzhentelman.png);
}

.film_number_8 {
    transition: 0.5s;
}

.film_number_8:hover {
    transform: scale(1.03);
}

.img_background_uoll_street {
    width: 250px;
    height: 375px;
    background-image: url(img/Uool\ Street.png);
}

.film_number_9 {
    transition: 0.5s;
    padding: 0px 40px 0px 40px;
}

.film_number_9:hover {
    transform: scale(1.03);
}

.img_background_all_films {
    background-image: url(img/all\ film.png);
}

.text_all_films {
    width: 250px;
    height: 375px;
    font-size: 32px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
}

.film_number_10 {
    transition: 0.5s;
}

.film_number_10:hover {
    transform: scale(1.03);
}

.text_film_number10 {
    padding: 80px 0px 0px 0px;
    text-align: center;
}

.Series {
    padding: 80px 0px 0px 0px
}

.Serie {
    padding: 18px 0px 0px 0px;
}

.series_number_1 {
    transition: 0.5s;
}

.series_number_1:hover {
    transform: scale(1.03);
  }

.img_background_gravity_folz {
    width: 250px;
    height: 375px;
    background-image: url(img/gravity\ falls\ 1.png);
}

.series_number_2 {
    padding: 0px 40px 0px 40px;
    transition: 0.5s;
}

.series_number_2:hover {
    transform: scale(1.03);
  }

.img_background_shamelles {
    width: 250px;
    height: 375px;
    background-image: url(img/shameless.png);
}

.series_number_3 {
    transition: 0.5s;
}

.series_number_3:hover {
    transform: scale(1.03);
  }

.img_background_supernatural {
    width: 250px;
    height: 375px;
    background-image: url(img/supernatural\ 1.png);
}

.series_number_4 {
    padding: 0px 40px 0px 40px;
    transition: 0.5s;
}

.series_number_4:hover {
    transform: scale(1.03);
  }

.img_background_rick_and_morti {
    width: 250px;
    height: 375px;
    background-image: url(img/rick\ and\ morti\ 1.png) ; 
}

.series_number_5 {
    transition: 0.5s;
}

.series_number_5:hover {
    transform: scale(1.03);
  }

.img_background_teoria {
    width: 250px;
    height: 375px;
    background-image: url(img/teoria\ vzriva\ 1.png) ; 
}

.series_table2 {
    padding-top: 42px;
}

.series_number_6 {
    transition: 0.5s;
}

.series_number_6:hover {
    transform: scale(1.03);
  }

.img_background_dr_haus {
    width: 250px;
    height: 375px;
    background-image: url(img/Dr\ haus.png) ; 
}

.series_number_7 {
    transition: 0.5s;
    padding: 0px 40px 0px 40px;
}

.series_number_7:hover {
    transform: scale(1.03);
  }

.img_background_igra_pristolov {
    width: 250px;
    height: 375px;
    background-image: url(img/igra\ pristolov\ 1.png) ; 
}

.series_number_8 {
    transition: 0.5s;
}

.series_number_8:hover {
    transform: scale(1.03);
  }

.img_background_wayne {
    width: 250px;
    height: 375px;
    background-image: url(img/Wayne\ 1.png) ; 
}

.series_number_9 {
    transition: 0.5s;
    padding: 0px 40px 0px 40px;
}

.series_number_9:hover {
    transform: scale(1.03);
  }

.img_background_turtles {
    width: 250px;
    height: 375px;
    background-image: url(img/turtles\ 1.png) ; 
}

.img_background_all_series {
    background-image: url(img/all\ film.png);
}

.text_all_series {
    width: 250px;
    height: 375px;
    font-size: 32px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
}

.series_number_10 {
    transition: 0.5s;
}

.series_number_10:hover {
    transform: scale(1.03);
}

.text_series_number10 {
    padding: 80px 0px 0px 0px;
    text-align: center;
}

.upcoming {
    width: 1920px;
    height: 560px;
    padding: 80px 0px 0px 0px;
    font-size: 36px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
    padding-bottom: 132px;
}

.restangle_trailer {
    width: 1420px;
    height: 500px;
    border-radius: 30px;
    background-image: url(img/Up\ trailer.gif);
}

.restangle_trailer2 {
    width: 1420px;
    height: 500px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

.poster_block {
    height: 500px;
    width: 323px;
}

.poster_block2 {
    font-size: 36px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
    width: 1000px;
    padding-left: 48px;
} 

.ptext {
    font-size: 30px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;  
    padding-top: 60px;
}

.ptext2 {
    font-size: 30px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    letter-spacing: 0.12em;
    color: white;
    padding: 10px 0px 40px 0px;
}

.click_watch_poster {
    background-color: rgba(0, 0, 0, 0.7);
    width: 379px;
    height: 46px;
    text-align: center;
    border-radius: 30px;
}

.click_text {
    font-size: 26px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 6px;
}

.basement {
    width: 1920px;
    height: 582px;
    background-color: #156653;
    border-radius: 50px 50px 0px 0px;
}

.position_basement_items {
    padding: 65px 0px 0px 250px;
    font-size: 36px;
    font-family: "Outfit" , sans-serif;
    font-weight: 600;
    color: white;
}

.gmail_position {
    transform: translateY(25px);
}

.inst_text {
    padding-left: 20px;
}

.gmail_text {
    padding-left: 20px;
}